@import com.music.sort.shared.Note
@import com.music.sort
@(title: String)

<section id="top">
    <h2>@title</h2>
</section>

<section id="choice">
    <h3>Choose your algorithm, maestro</h3>
    <select class="styled-select black rounded" id="algos"></select>

    <h3>And choose your scale</h3>
    <select class="styled-select black rounded" id="scales"></select>

    <h3>And select your base</h3>
    <select class="styled-select black rounded" id="bases"></select>
</section>

<button id="generateButton">Generuj</button>
<button id="sortButton">Sortuj!</button>

<div class="row" id="row">

</div>



