
.row {
    display: flex;
    align-items: flex-end;
}

.column {
    flex: 33.33%;
    padding: 10px;
}

.rectangle {
    width: 100%;
    height: 400px;
    background: red;
}

#fourthree {
    height: 43px;
}

#oneone {
    height: 11px;

}

#onezero {
    height: 10px;

}

#onetwo {
    height: 12px;

}

#five {
    height: 5px;

}

#three {
    height: 3px;

}