head {
    font-style: italic;
}

body {
    background-color: #4B353A;
    font-family: KacstLetter, Serif;
}

.row {
    display: flex;
    align-items: flex-end;
}

.column {
    flex: 33.33%;
    padding: 10px;
}

.rectangle {
    width: 100%;
    height: 400px;
    background: #FFFFF0;
}
