head {
    font-style: italic;
}

body {
    background-color: #4B353A;
}

#top {
    font-style: italic;
    color: white;
    font-variant: all-small-caps;
    text-align: center;
}

.row {
    display: flex;
    align-items: flex-end;
}

.column {
    flex: 33.33%;
    padding: 10px;
}

.rectangle {
    width: 100%;
    height: 400px;
    background: #FFFFF0;
}
